<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="./assets/vendor/apexcharts/dist/apexcharts.css">
  </head>
<body>
<nav class="w-auto bg-gray-800 text-white py-6">
  <div class="flex justify-between mx-8 font-monda">
    <a class="navbar-brand" href="/">DBSysBank</a>
    <div>
      <ul class="flex justify-evenly align-items-center gap-12">
        <li><a class="text-gray-400 transition-all 
      duration-200 hover:text-gray-100" href="/contas">Contas</a></li>
        <li><a class="text-gray-400 transition-all 
      duration-200 hover:text-gray-100" href="/transacoes">Transações</a></li>
        <li><a class="text-gray-400 transition-all 
      duration-200 hover:text-gray-100" href="/dashboard">Investimentos</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="w-auto bg-gray-100">
  {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/preline.js') }}"></script>
</body>
</html>
