<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="./assets/vendor/apexcharts/dist/apexcharts.css">
  </head>
<body>
<header class="bg-white shadow-md sticky top-0 z-50">
  <div class="container mx-auto px-6 py-4 flex items-center justify-between">
    <a href="/" class="flex items-center gap-3">
      <img src="{{ url_for('static', filename='imgs/logo.png') }}" class="w-1/5" alt="Logo">
      <span class="text-2xl font-bold text-gray-800">BDSys Bank</span>
    </a>
    <nav class="space-x-4">
      <a href="/dashboard" class="text-gray-600 hover:text-blue-600 font-medium">Investimentos</a>
      <a href="/contas" class="text-gray-600 hover:text-blue-600 font-medium">Contas</a>
      <a href="/transacoes" class="text-gray-600 hover:text-blue-600 font-medium">Transações</a>
    </nav>
  </div>
</header>

<div class="w-auto bg-gray-100">
  {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/preline.js') }}"></script>
</body>
</html>
