{% extends "base.html" %}
{% block content %}
<h1>Gerenciamento de Contas</h1>

<form method="get" action="/contas">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="busca" placeholder="Buscar por Código de Conta">
    <button class="btn btn-outline-primary" type="submit">Buscar</button>
  </div>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID Conta</th>
      <th>CPF/CNPJ</th>
      <th>Saldo</th>
      <th>Renda</th>
      <th>Perf. Crédito</th>
      <th>Ativo</th>
    </tr>
  </thead>
  <tbody>
    {% for conta in contas %}
    <tr>
      <td>{{ conta.idConta }}</td>
      <td>{{ conta.codigoPessoa }}</td>
      <td>R$ {{ "%.2f"|format(conta.saldo) }}</td>
      <td>R$ {{ "%.2f"|format(conta.renda) }}</td>
      <td>{{ conta.perfilCredito }}</td>
      <td>{{ "Sim" if conta.ativo == 'S' else "Não" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
