{% extends "base.html" %}
{% block content %}
<h1>Transações Bancárias</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Conta Origem</th>
      <th>Conta Destino</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    {% for transacao in transacoes %}
    <tr>
      <td>{{ transacao.id }}</td>
      <td>{{ transacao.origem }}</td>
      <td>{{ transacao.destino }}</td>
      <td>{{ transacao.tipo }}</td>
      <td>R$ {{ "%.2f"|format(transacao.valor) }}</td>
      <td>{{ transacao.data }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
